* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;


    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgrey;
}

.mainCalendarContainer {
    outline: 1px solid black;
    border-radius: 5px;
    width: 140px;
    height: 220px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainCalendarContainer > div {
    width: 140px;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 20px;
    height: 20px;
}

input {
    width: 100px;
    height: 20px;
    text-align: center;
}

select {
    width: 100px;
    height: 20px;
    text-align: center;
}

.calendarHead {
    height: 20px;
}

.calendarHead > span {
    height: 20px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.calendarContainer {
    width: 140px;
    height: 140px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calendarContainer > div {
    width: 140px;
    height: 20px;

    display: flex;
    justify-content: center;

}

.calendarContainer > div div{
    width: 20px;
    height: 20px;

    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendarContainer > div .num:hover{
    background-color: rgb(253, 245, 245);
    color: red;
    font-size: 16px;

    cursor: pointer;
}

.calendarBottom {
    outline: 1px solid black;
    border-radius: 0px 0px 5px 5px;
}

.birthDateContainer {
    width: 90px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0px 0px 0px 5px;
}

.acceptContainerButton {
    width: 50px;
    font-size: 10px;
    border-radius: 5px;
}

.empty {
    background-color: grey;
}

.complete {
    background-color: white;
}

.ready {
    background-color: white;
    font-size: 12px;
    color: green;
}
